*{
    font-family: 'Ruluko', sans-serif;
}

/* ========= HEADER ========= */
.nav-text-style{
    font-size: 24px;
    margin-right: 50px;
    font-weight: 500;
}

.nav-text-style:hover{
    font-weight: 600;
    color: #000;  
}
/* ====X==== HEADER ====X==== */

/* ========= BACKGROUND BODY ========= */
.bg-image-login{
    background-image: url("../images/BackgroundLogin.png");
    height: 787px;
    width: 101%;
    background-size: cover;
    position:absolute;
    margin-top: 80px;
    padding-top: 60px
}
/* ====X==== BACKGROUND BODY ====X==== */


/* ========= FORMULARIO ========= */
.containter-login{
    background-color: #0C2A57;
    height: 675px;
    width: 600px;
    opacity: 0.77;
    border-radius: 45px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px
}
.text-form{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
.text-modal{
    color: #BABABA;
}
.tittle-login{
    color: white;
    font-size: 45px;
}
.form-login{
    align-items: center

}
.input-form{
    margin-top: 0;
    margin-bottom: 10px;
    width: 300px;
    font-size: 18px;
}
.input-form:focus{
    outline: none;
}
.btn-login{
    background-color: #5CF4BD;
    margin-top: 20px;
    border-radius: 20px;
    width: 120px;
    font-size: 30px;
    border: none;
}
.btn-login:hover{
    background-color: #5CDABD;
}
.btn-reg{
    background-color: #D8FFD4;
    margin-top: 5px;
    border-radius: 20px;
    width: 140px;
    font-size: 25px;
    border: none;
}
.btn-reg:hover{
    background-color: #D8DFD4;
}
.img-google{
    margin-right: 15px;
    margin-bottom:15px;
}
.img-face{
    margin-bottom:15px;
}
.img-google:hover{
    cursor: pointer;
}
.img-face:hover{
    cursor: pointer;
}
/* ====X==== FORMULARIO ====X==== */

/* ========= FOOTER ========= */
/* .footer-imob{

} */
/* ====X==== FOOTER ====X==== */

/* ========= BACKGROUND BODY CONTRATO ========= */
.bg-image-contrato{
    background-image: url("../images/BackgroundContrato.png");
    height: 850px;
    width: 100%;
    background-size: cover;
    position:absolute;
    margin-top: 80px;
    padding-top: 60px
}
/* ====X==== BACKGROUND BODY CONTRATO ====X==== */

/* ========= FORMULARIO CONTRATO ========= */
.tittle-gerar{
    color: #000;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
}
.containter-contrato{
    background-color: #918EFF;
    height: 675px;
    width: 750px;
    opacity: 0.74   ;
    border-radius: 45px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px
}
.btn-gerar{
    background-color: #4EFFB4;
    margin-top: 5px;
    border-radius: 20px;
    width: 140px;
    font-size: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
.btn-gerar:hover{
    background-color: #4EDFB4;
}
.form-gerar{
    padding-left: 45px;
    padding-right: 45px;
}
.input-gerar{
    background-color: #D4EEE2;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}
.label-gerar{
    color: #000;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 600;
}
/* ====X==== FORMULARIO CONTRATO ====X==== *